# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\实习资料\代码\java_io\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
